<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Mixpanel1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE2F3B8F1C04411B008A03D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE2F3BA81C04411C008A03D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE2F3BB31C04411C008A03D9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
